* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.home-wrapper {
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/background.jpg') no-repeat center top;
    background-size: cover;
    color: #fff;
    /* height: 700px; */
}

header {
    position: fixed;
    padding: 10px 0;
    width: 100%;
    background-color: rgba(48, 48, 48, 0.5);
}

header img {
    width: 200px;
}

header nav {
    float: right;
    margin-top: 10px;
}

header nav a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px 15px;
}

header nav a.active {
    background-color: #fed136;
    border-radius: 3px;
}

#home {
    text-align: center;
    padding: 200px 0 150px;
}

#home h1 {
    font-size: 68px;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 40px;
}

#home .divide {
    width: 80px;
    border-top: 5px solid #fed136;
    border-radius: 5px;
    margin: 0 auto;
}

#home p {
    font-size: 24px;
    margin-top: 40px;
}

#home .social {
    margin-top: 80px;
}

#home .social a {
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
    background-color: #000;
    font-weight: bold;
    height: 50px;
    width: 50px;    
    margin-right: 10px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#home .social a i {
    position: relative;
    top:13px;
    text-align: center;
}

#home .social a:hover {
    background-color: #fed136;
}

section {
    padding: 80px 0;
}

section h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 80px;
}

/* sección de servicios */

#servicios div {                       /*aqui puedo utilizar clases para el div o directamente al tag*/
    display: inline-block;
    width: 33%;
    padding: 10px;    
    text-align: center;
}
/* sección de video */

#video {
    background-color: #000;
    text-align: center;
}

/* sección de portafolio */

#portafolio {
    background-color: whitesmoke;
}

#portafolio .box {
    display: inline-block;
    text-align: center;
    width: 31%;
    margin: 1%;
    background-color: white;
    -webkit-box-shadow:1px 1px 4px 2px rgba(48,48,48,0.3);
    box-shadow:1px 1px 4px 2px rgba(48,48,48,0.3);
}

#portafolio .box img {
    width: 100%;
}

#portafolio .box p {
    color: #666;
    padding: 10px;
}

/* Sección de contacto */
#contacto {
    background-color: #303030;
    background-image: url('../images/map-image.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;    
}

#contacto h2 {
    color: #fff;
}

#contacto input {
    padding: 20px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#contacto textarea {
    margin: 20px 0;
    padding: 20px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#contacto button {
    padding: 20px 40px;
    background-color: #fed136;
    border: 1px solid #dfaf02;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    line-height: 1;
    font-size: 18px;
}
/* mapas */

#mapa h2 {
    margin-bottom: 20px;
}

/* caracterizacion del footer */

footer {
    text-align: center;
    padding: 70px 0;
    font-size: 18px;
}

/* Caracteristica general de los contenedores */

.container {
    width: 992px;
    margin-left: auto;
    margin-right: auto;
}


